/// Custom color theme

$text-color: rgba(16, 17, 17, 1);
$background-nav-color: rgba(0, 91, 109, 1);
$background-footer-color: rgba(242, 217, 181, 1);
$background-text-color: rgba(217, 217, 215, 0.5);
$color5: rgba(251, 254, 249, 1);

.nav {
  // background: $background-nav-color;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .nav-list {
    padding-bottom: 2em;
  }
  a {
    padding: 0em 2em;
  }
}

.ui.form {
  max-height: 1em;
  padding-top: 2em;
  form {
    display: flex;
  }
}

.header {
  height: 70vh;
}
.ui.segment {
  background: $background-text-color;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(16, 17, 17, 0.5);
  color: $text-color;
  font-size: 1.6em;
  margin-top: 6em;
  min-height: 200px;
  line-height: 2.5;
}
