.nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav .nav-list {
  padding-bottom: 2em;
}
.nav a {
  padding: 0em 2em;
}

.ui.form {
  padding-top: 3.5em;
  padding-bottom: 1em;
  margin: 0em 2em;
}
.ui.form form {
  display: flex;
}

.header {
  height: 70vh;
}

.ui.segment.home {
  border-style: none;
  border-width: 6px;
  color: #101111;
  font-size: 1.6em;
  min-height: 200px;
  line-height: 2.5;
  box-shadow: 4px 4px 2px 1px rgba(51, 51, 83, 0.2);
}

.article-container {
  margin-top: 0;
}

.text-container {
  padding-bottom: 2em;
}

@media (min-width: 1920px) {
  .home-container {
    background-image: url("https://.unsplash.com/photo-1531346878377-a5be20888e57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    height: 100vh;
    padding: 0em 13em;
  }
  .home-container .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-container form {
    margin: 0em 38em;
    padding-left: 3em;
    display: flex;
  }
  .home-container form input {
    height: 2em;
  }
  .home-container .nav {
    padding-top: 3em;
    background: none;
  }
  .home-container .nav .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .home-container .nav .ui.secondary.button {
    animation: fadeIn-One;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    font-size: 1.1em;
    padding: 1.5em 3em;
    margin: 0em 1.5em;
    background-color: #005b6d;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .ui.ui.segment.home {
    font-size: 1.8em;
    padding-bottom: 8em;
    padding-left: 3em;
    padding-right: 3em;
    margin: 1em 20em;
    background: white;
    color: #101111;
  }

  .ui.secondary.button {
    padding: 2em 2em;
  }

  .ui.button {
    background: #f2d9b5;
  }

  .text-container .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0em 20em;
  }

  .article-container {
    padding: 0em 25em;
  }
  .article-container .search-body-container {
    max-width: 40em;
  }

  .article-title {
    font-size: 2em;
  }

  .image {
    max-width: 50em;
    max-height: 25em;
  }

  .article-author {
    font-size: 1.8em;
  }

  .article-date {
    font-size: 2em;
  }

  .text-container {
    text-align: center;
    padding-top: 10em;
  }
  .text-container .ui.segment {
    border-style: none;
  }
  .text-container .ui.segment p {
    font-size: 2.5em;
  }

  .nav-body-container {
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav-body-container .ui.secondary.button {
    animation: fadeIn-One;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    font-size: 1.1em;
    padding: 1.5em 3em;
    margin: 0em 1.5em;
    background-color: #005b6d;
  }

  .custom-search .custom-searchbar {
    padding: 0 50em;
  }
  .custom-search .ui.secondary.button {
    animation: fadeIn-One;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    font-size: 1.1em;
    padding: 1.5em 3em;
    margin: 0em 1.5em;
    background-color: #005b6d;
  }
}
@keyframes fadeIn-One {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
